#page-header-logo {
    background:url(../img/logo32x32.png) 0 0;
    display:inline-block;
    height:32px;
    width:32px;
    vertical-align:bottom
}

.date-field {
    width: 10em;
}

.date-time-field {
    width: 13em;
}

#page {
    max-width: unset;
}

/* Styling used in the graphing page */
#timeline-container {
    border: 2px solid;
    padding: 1px;
}
#graph-panel {
    text-align: center;
    margin-top: 3px;
}
.graph-panel-title {
    font-weight: bold;
    font-size: xx-large;
}
.graph-panel-subtitle {
    font-weight: bold;
    font-size: medium;
}
.graph-container {
    display: inline-block;
    position: relative;
    border: 1px solid;
    padding: 2px;
    margin: 2px;
    height: 250px;
    width: 100%;
}
.graph-panel-header {
    position: relative;
}
.graph-panel-action-controls {
    position: absolute;
    right: 0px;
}
.graph-panel-visibility-controls fieldset {
    padding: 2px;    
}
.graph-panel-visibility-controls {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    font-size: 75%;
    height: auto;
}
.graph-container-halfwidth {
    width: 48%;
}
.graph-container-thirdwidth {
    width: 32%;
}
.graph-chart {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 12em;
    width: auto;
}
.graph-legend {
    position: absolute;
    right: 0px;
    padding: 1px 1px 1px 1px;
    width: 10em;
    /*float:right;*/
    height: 100%;
    text-align: left;
}
.graph-y-control {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 3px;
    width: 10em;
    text-align: left;
}
.graph-y-control input {
    width: 5em;
}
.graph-y-control .key-value-list {
    margin: 0px;
}
.graph-y-control .li-key, .li-value {
    padding: 1px;
}
.graph-legend > span.highlight {
    border: 1px solid grey;
}

.dygraph-axis-label {
    font-size: 75%;
}
.graph-panel-action-controls {
    float: right;
}
.select2-container-multi .select2-choices {
    max-height: 4em;
    height: 3em;
    overflow-y: scroll;
    font-size: 75%;
}

#page-controls-error {
    color: red;
    font-weight: bold;
}

/* Remove button padding - its a problem in in FF */
button {
    padding: 1px;
}

#version-info {
    font-size: x-small;
    text-align: right;
    padding-right: 8px;
}